.col-sm-auto {
  min-width: 17rem;
}

/* 
 *    Resets
 */

ul {
  padding-left: 0;
}

li {
  list-style: none;
}


/* 
 *    Components
 */

section {
  margin-bottom: 2rem;
}

header {
  h1.site-title {
    font-size: 1.5rem;
    font-variant: all-small-caps;
    margin-bottom: 2rem;
    color: #6c757d;
  }
}


.event-list__event-item {
  display: block;
  padding: 0.25rem 0.25rem 0.5rem 0;
  font-variant-caps: all-small-caps;

  &.active {
    color: #000;
    background: #ddd;
    border-color: #ddd;
  }

  .event-title-and-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 { 
      margin-bottom: 0;
    }

    .event-status {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 2rem;

      small {
        border: 1px solid #000;
        padding: 0 2px;
        font-size: 60%;
        border-radius: 0.25rem;
        margin-top: .25rem; /* because it's in a flex row with a small-caps item */
        font-variant-caps: normal;

        &.text-success {
          border-color: #28a745;
        }
      
        &.text-muted {
          border-color: #6c757d;
        }
      }
    }
  }
}

.episode-control {
  select {
    margin-bottom: 1rem
  }
}

form.create-event-form, form.broadcast-form {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

form.broadcast-form {
  #broadcast-message {
    font-family: monospace;
  }
}

.delete-event {
  display: block;
  margin-top: 1rem;
}

.selected-event-label {
  font-variant-caps: all-small-caps;
}

ul#device-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#device-list li .device-number {
  max-width: 9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#device-list li .device-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 2rem;
}

#device-list li .device-status small {
  border: 1px solid #000;
  padding: 0 2px;
  font-size: 60%;
  border-radius: 0.25rem;
}

#device-list li .device-status small {
  border: 1px solid #000;
}

#device-list li .device-status small.text-success {
  border: 1px solid #28a745;
}

#device-list li .device-status small.text-warning {
  border: 1px solid #ffc107;
}


/*
 *    Utilities
 */

span.small-caps {
  font-variant-caps: all-small-caps;
}


/*
 *    Event page
 */

#cohort-event-page {
  &.state-default, &.state-ambiguous {}

  &.state-occasions-loaded{
    background: #072B69;
    color: #fff;
  }

  &.state-ready {
    background: #D4420D;
    color: #fff;
  }

  &.state-playing-episode {
    background: #F0C829;
    color: #000000;
  }   

  .occasion-list__occasion-list-item {
    background: inherit;
  }

  .occasion-list-item__occasion-body {
    display: flex;
    align-items: center;

    h6, p:last-child {
      margin-bottom: 0
    }

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }
}