
  .col-sm-auto {
    min-width: 17rem;
  }

  h1.site-title {
    font-size: 1.5rem;
    font-variant: all-small-caps;
    margin-bottom: 2rem;
    color: #6c757d;
  }


  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }


  li.not-connected {
    color: #6c757d;
  }

  .event-item, .selected-event-label {
    font-variant-caps: all-small-caps;
  }

  span.small-caps {
    font-variant-caps: all-small-caps;
  }

  .event-item h3 { 
    margin-bottom: 0;
  }

  ul#device-list li, .event-list .event-title-and-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #device-list li .device-status, .event-list .event-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 2rem;
  }

  #device-list li .device-status {
    min-width: 9rem;
  }

  #device-list li .device-status small, .event-list .event-status small {
    border: 1px solid #000;
    padding: 0 2px;
    font-size: 60%;
    border-radius: 0.25rem;
  }

  #device-list li .device-status small {
    border: 1px solid #000;
  }

  #device-list li .device-status small.text-success {
    border: 1px solid #28a745;
  }

  .event-list > button.event-item {
    display: block;
    padding: 0.25rem 0.25rem 0.5rem 0;
  }

  .event-list > button.event-item.active {
    background-color: rgba(220, 220, 220, 0.42);
    color: #000;
  }


  .event-list .event-status small {
    margin-top: .25rem; /* because it's in a flex row with a small-caps item */
    font-variant-caps: normal;
  }

  .event-list .event-status small.text-success{
    border-color: #28a745;
  }

  .event-list .event-status small.text-muted {
    border-color: #6c757d;
  }

  .event-select {
    margin-top: 2rem;
  }

  select#select-event {
    margin-bottom: 0.5rem;
  }
  