.col-sm-auto {
  min-width: 17rem;
}

/* 
 *    Resets
 */

ul {
  padding-left: 0;
}

li {
  list-style: none;
}


/* 
 *    Components
 */


h1.site-title {
  font-size: 1.5rem;
  font-variant: all-small-caps;
  margin-bottom: 2rem;
  color: #6c757d;
}

.event-list__event-item {
  display: block;
  padding: 0.25rem 0.25rem 0.5rem 0;
  font-variant-caps: all-small-caps;

  &.active {
    color: #000;
    background: #ddd;
    border-color: #ddd;
  }

  .event-title-and-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 { 
      margin-bottom: 0;
    }

    .event-status {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 2rem;

      small {
        border: 1px solid #000;
        padding: 0 2px;
        font-size: 60%;
        border-radius: 0.25rem;
        margin-top: .25rem; /* because it's in a flex row with a small-caps item */
        font-variant-caps: normal;

        &.text-success {
          border-color: #28a745;
        }
      
        &.text-muted {
          border-color: #6c757d;
        }
      }
    }
  }
}

form.create-event-form, form.broadcast-form {
  margin-top: 1rem;
}

.delete-event {
  display: block;
  margin-top: 1rem;
}

.selected-event-label {
  font-variant-caps: all-small-caps;
}

ul#device-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#device-list li .device-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 2rem;
}

#device-list li .device-status {
  min-width: 9rem;
}

#device-list li .device-status small {
  border: 1px solid #000;
  padding: 0 2px;
  font-size: 60%;
  border-radius: 0.25rem;
}

#device-list li .device-status small {
  border: 1px solid #000;
}

#device-list li .device-status small.text-success {
  border: 1px solid #28a745;
}

.event-list > button.event-item {
  display: block;
  padding: 0.25rem 0.25rem 0.5rem 0;
}

.event-list > button.event-item.active {
  background-color: rgba(220, 220, 220, 0.42);
  color: #000;
}



.event-list .event-status small.text-success{
  border-color: #28a745;
}

.event-list .event-status small.text-muted {
  border-color: #6c757d;
}


/*
 *    Utilities
 */

span.small-caps {
  font-variant-caps: all-small-caps;
}