/*    Tablet landscape  */
@media (max-width: 991.98px) {
  h3 {
    font-size: 1.25rem; }
  h4 {
    font-size: 1rem;
    font-weight: 400; }
  h6 {
    font-weight: 400; } }

/* 
 *    Resets
 */
ul {
  padding-left: 0; }

li {
  list-style: none; }

/* 
 *    Components
 */
h4 {
  font-weight: 300; }

section {
  margin-bottom: 2rem; }

header h1.site-title {
  font-size: 1.5rem;
  font-variant: all-small-caps;
  margin-bottom: 2rem;
  color: #6c757d; }

.events-column h3 > a {
  float: right;
  color: #007bff !important;
  cursor: pointer; }
  .events-column h3 > a:hover {
    text-decoration: none; }

.occasions .form-group {
  max-width: 20.5rem; }

.occasions .form-control {
  margin-bottom: 1rem; }

.event-list__event-item {
  display: block;
  padding: 0.25rem 0.25rem 0.5rem 0;
  font-variant-caps: all-small-caps; }
  .event-list__event-item.active {
    color: #000;
    background: #ddd;
    border-color: #ddd; }
  .event-list__event-item .event-title-and-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .event-list__event-item .event-title-and-status h3 {
      margin-bottom: 0;
      margin-right: 1.5rem; }
    .event-list__event-item .event-title-and-status .event-status {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; }
      .event-list__event-item .event-title-and-status .event-status small {
        border: 1px solid #000;
        padding: 0 2px;
        font-size: 60%;
        border-radius: 0.25rem;
        margin-top: .25rem;
        /* because it's in a flex row with a small-caps item */
        font-variant-caps: normal; }
        .event-list__event-item .event-title-and-status .event-status small.text-success {
          border-color: #28a745; }
        .event-list__event-item .event-title-and-status .event-status small.text-muted {
          border-color: #6c757d; }

.code-textarea {
  font-family: monospace;
  min-width: 15rem;
  overflow-x: hidden; }

.episode-control select {
  margin-bottom: 1rem; }

form.create-event-form, form.broadcast-form {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.delete-event {
  display: block;
  margin-top: 1rem; }

.selected-event-label {
  font-weight: 500;
  font-variant-caps: all-small-caps; }

ul#device-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

#device-list li .device-number {
  max-width: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

#device-list li .device-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 2rem; }

#device-list li .device-status small {
  border: 1px solid #000;
  padding: 0 2px;
  font-size: 60%;
  border-radius: 0.25rem; }

#device-list li .device-status small {
  border: 1px solid #000; }

#device-list li .device-status small.text-success {
  border: 1px solid #28a745; }

#device-list li .device-status small.text-warning {
  border: 1px solid #ffc107; }

/*
 *    Utilities
 */
span.small-caps {
  font-variant-caps: all-small-caps; }

/*
 *    Event page
 */
body.state-occasions-loaded, body.state-audio-loading {
  background: #072B69; }

body.state-ready {
  background: #D4420D; }

body.state-playing-episode {
  background: #F0C829; }

#cohort-event-page section {
  min-height: 400px; }
  #cohort-event-page section.checked-in-view {
    padding-top: 2rem; }
    #cohort-event-page section.checked-in-view ul {
      padding-left: 20px; }
    #cohort-event-page section.checked-in-view li {
      list-style: disc; }

#cohort-event-page header {
  margin-bottom: 0.25rem; }
  #cohort-event-page header .header-content {
    text-align: right;
    min-height: 3rem; }
  #cohort-event-page header button.btn-outline-primary {
    background-color: #fff;
    margin-top: 10px; }
  #cohort-event-page header h1.site-title {
    display: inline;
    margin-bottom: 0;
    color: inherit; }

#cohort-event-page.state-occasions-loaded, #cohort-event-page.state-audio-loading {
  background: #072B69;
  color: #fff; }

#cohort-event-page.state-ready {
  background: #D4420D;
  color: #fff; }

#cohort-event-page.state-playing-episode {
  background: #F0C829;
  color: #000000; }

#cohort-event-page ul.occasion-list {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

#cohort-event-page .occasion-list__occasion-list-item {
  background: inherit;
  border-color: #fff;
  padding-left: 0;
  padding-right: 0; }
  #cohort-event-page .occasion-list__occasion-list-item h5 {
    color: #F0C829; }
  #cohort-event-page .occasion-list__occasion-list-item p:last-child {
    margin-bottom: 0; }
  #cohort-event-page .occasion-list__occasion-list-item button {
    margin-top: 1rem; }

/* to keep column tight */
.broadcast-push-notification-form .form-check-inline {
  margin-right: .25rem; }

.cue-controls input[type=range].cue-controls__cue-controls-go {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0; }

.cue-controls input[type=range].cue-controls__cue-controls-go:focus {
  outline: none; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-webkit-slider-runnable-track {
  width: 100%;
  height: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 50px;
  border: 0px solid #010101; }

.cue-controls input[type=range].cue-controls__cue-controls-go.cue-sent-response-pending::-webkit-slider-runnable-track {
  background: #5fa36f; }

.cue-controls input[type=range].cue-controls__cue-controls-go.cue-sent-response-success::-webkit-slider-runnable-track {
  background: #28a745; }

.cue-controls input[type=range].cue-controls__cue-controls-go.cue-sent-response-error::-webkit-slider-runnable-track {
  background: #dc3545; }

.cue-controls input[type=range].cue-controls__cue-controls-go:disabled::-webkit-slider-runnable-track {
  background: #6C8CA8; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 75px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px; }

.cue-controls input[type=range].cue-controls__cue-controls-go:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-moz-range-track {
  width: 100%;
  height: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0px;
  border: 0px solid #010101; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 75px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-ms-track {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-ms-fill-lower {
  background: #2a6495;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-ms-fill-upper {
  background: #3071a9;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

.cue-controls input[type=range].cue-controls__cue-controls-go::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  width: 75px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 50px; }

.cue-controls input[type=range].cue-controls__cue-controls-go:focus::-ms-fill-lower {
  background: #3071a9; }

.cue-controls input[type=range].cue-controls__cue-controls-go:focus::-ms-fill-upper {
  background: #367ebd; }

/*# sourceMappingURL=main.css.map */