<footer>
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div>
    <p class="small">Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></p>
    <p class="small">Cohort is supported by the Canada Council for the Art's <a href="https://canadacouncil.ca/funding/strategic-funds/digital-strategy-fund">Digital Strategy Fund</a> and administered by <a href="http://www.adelheid.ca">adelheid dance projects</a></p>
  </div>
</footer>