<footer>
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div>
    <p class="small">This article and its contents are the sole property of the author.</p>
    <p class="small">Cohort is supported by the Canada Council for the Arts' <a href="https://canadacouncil.ca/funding/strategic-funds/digital-strategy-fund">Digital Strategy Fund</a> and administered by <a href="http://www.adelheid.ca">adelheid dance projects</a></p>
    <img class="image-fluid mb-2" style = "width:35%" src="../../../../CClogo/CCA_RGB_colour_e.png"/>
  </div>
</footer>